@charset "utf-8";

.row { width: 1170px; margin: 0 auto; }

/* 헤더 부분 */
#header { color: #000; }
.h1NavWrap { font-family: 'Montserrat','나눔고딕'; }
.h1Nav { height: 72px; position: relative; }
.h1Nav h1 { font-weight: bold;
    font-size: 30px; 
    padding: 18px 15px; }
.nav { font-weight: bold; font-size: 12px;
    position: absolute; top: 0; right: 0; }
.nav .depth1 > li { display: inline-block; position: relative; }
.nav .depth1 > li > a { display: block; 
    margin: 0px 20px; padding: 26px 0px; 
    position: relative; }

.nav .depth2 { z-index: 999999; position: absolute; top: 100%; left: 0;
    width: 220px; padding: 13px 0 15px; 
    background: rgba(35,35,35,1); 
    display: none; }
.nav .depth1 > li:hover .depth2 { display: block; }

.nav .depth2 > li > a { display: block; text-align: left;
    font-size: 12px; color:#9d9d9d; 
    padding: 9px 0px 7px 30px;
    overflow: hidden; transition: all 0.5s; }
.nav .depth2 > li > a:hover { color: #fff; }

.nav .depth1 > li > .btn { display: block; font-size: 18px;
    padding: 0 15px; }



/* footer 부분 */
#footer { background: #1c1c1c; }
#footer .inner { padding: 5% 0; display: block; 
    font-family: 'Roboto'; color: #6f6f6f; 
    font-size: 12px; position: relative; }
.inner .BizInfo { width: 24%; padding-right: 15px; float: left; }
.inner .BizInfo > a { display: inline-block; font-weight: bold; 
    font-size: 30px; color: #fff; }
.inner .BizInfo span { display: inline-block;
    margin: 24px 0; line-height: 20px; }
.inner .BizInfo .sns > a { color: #fff; font-size: 17px; margin-right: 20px; }


.inner .footerMenu { width: 24%; display: inline-block;
    padding-left: 45px; }
.inner .footerMenu ul { display: block; font-weight: bold; }
.inner .footerMenu ul p { margin-bottom: 10px; }
.inner .footerMenu li { display: block; font-weight: normal; }

.inner .companyInfo { width: 24%; display: inline-block;
    padding-left: 45px; }
.inner .companyInfo > p { font-weight: bold; }

.inner .portfolio { width: 24%; display: inline-block;
    padding-left: 45px; }
.inner .portfolio > p { font-weight: bold; }