@charset "utf-8";

.row { width: 1170px; margin: 0 auto; }

/* 헤더 부분 */
#header { color: #000; position: fixed; 
    width:100%;
    /* background:#fff;  */
    /* box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);  */
    z-index:99; }
.topmenu { position: relative; height: 20px; }
.topmenu .login { position:absolute; top:10px; right:0; color:#000;
    font-size: 11px; font-family: 'Montserrat';
    font-weight: 500; }
.topmenu .login a { padding-left:10px; }

.h1NavWrap { font-family: 'Montserrat','나눔고딕'; }
.h1Nav { height: 72px; position: relative; }
.h1Nav h1 { font-weight: bold;
    font-size: 30px; 
    padding: 18px 15px; }
.nav { font-weight: bold; font-size: 12px;
    position: absolute; top: 0; right: 0; }
.nav .depth1 > li { display: inline-block; position: relative; }
.nav .depth1 > li > a { display: block; 
    margin: 0px 20px; padding: 26px 0px; 
    position: relative; }

.nav .depth2 { z-index: 999999; position: absolute; top: 100%; left: 0;
    width: 220px; padding: 13px 0 15px; 
    background: rgba(35,35,35,1); 
    display: none; }
/* 만약 depth2가 아닌 header가 position 갖게 되면 header한테 z-index를 줘야함 */
.nav .depth1 > li:hover .depth2 { display: block; }

.nav .depth2 > li > a { display: block; text-align: left;
    font-size: 12px; color:#9d9d9d; 
    padding: 9px 0px 7px 30px;
    overflow: hidden; transition: all 0.5s; }
.nav .depth2 > li > a:hover { color: #fff; }

.nav .depth1 > li > .btn { display: block; font-size: 18px;
    padding: 24px 15px; }




/* footer 부분 */
#footer .footer { background: #1c1c1c; }
#footer .inner { display: block; padding: 5% 0; height: 389px;
    font-family: 'Roboto'; color: #6f6f6f; line-height: 20px; 
    font-size: 12px; position: relative; }

.inner .BizInfo { width: 24%; padding: 0 15px 0 15px; float: left;
    border-right: 1px solid #363636; height: 199px; }
.inner .BizInfo > a { display: inline-block; font-weight: bold; 
    font-size: 30px; color: #fff; }
.inner .BizInfo span { display: inline-block;
    margin: 24px 0; line-height: 20px; }
.inner .BizInfo .sns > a { color: #fff; font-size: 17px; margin-right: 20px; }
.inner .BizInfo .sns > a:hover { color: #ff5519; transition: all 0.5s; }


.inner .footerMenu { width: 24%; display: block; float: left;
    padding: 0 15px 0 45px; border-right: 1px solid #363636; height: 199px; }
.inner .footerMenu ul { display: block; font-weight: bold;
    margin-bottom: 25px; }
.inner .footerMenu ul p { font-family: 'Montserrat'; margin-bottom: 10px; }
.inner .footerMenu li { display: block; font-weight: normal;
    line-height: 24px; }
.inner .footerMenu li:hover { color: #ff5519; transition: all 0.5s; }


.inner .companyInfo { width: 24%; display: block;
    padding: 0 15px 0 45px; float: left;
    border-right: 1px solid #363636; height: 199px; }
.inner .companyInfo p { display: block; font-weight: bold;
    margin-bottom: 10px; font-family: 'Montserrat'; }
.inner .companyInfo address { margin-bottom: 15px; }
.inner .companyInfo span:last-child { text-decoration: underline; }
.inner .companyInfo span a:hover { color: #ff5519; transition: all 0.5s; }


.inner .portfolio { width: 24%; display: block;
    padding: 0 15px 0 45px; float: left; height: 199px; }
.inner .portfolio p { font-weight: bold; font-family: 'Montserrat'; }



.copy { font-size: 12px; color: #6f6f6f;
    background: #141414; }
.copyright { padding: 60px 0; }
.copyright p:first-child { display: block; width: 49.5%;
    float: left; text-align: left; padding: 0 15px; }
.copyright p:last-child { display: block; width: 49.5%; 
    float: left; text-align: right; padding: 0 15px; }



/* loading 화면 */
.introAni { position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 9999999999; }
.introAni > div {
    position: absolute;
    top: 50%; width: 100%;
    transform: translateY(-50%);
    text-align: center; }
.introAni .loading_dot {
    display: inline-block;
    border-radius: 50%;
    height: 12px; width: 12px;
    background: #fff; 
    margin: 0 5px; }
.introAni .loading_dot:nth-child(1) {
    animation: bounce 1s both 1s 3;
}
.introAni .loading_dot:nth-child(2) {
    animation: bounce 2s both 0.5s 2; 
}
.introAni .loading_dot:nth-child(3) {
    animation: bounce 1s both 1s 3;
}