@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;500;600;700;800&display=swap');


/* com_info */
.com_info { background-size: cover; 
    background-position: center;
    height: 600px; 
    position: relative; }

.com_info:before { content: '';
    background: rgba(0,0,0, 0.2);
    position: absolute; 
    top: 0; bottom: 0; right: 0; left: 0; }

.com_h { background-image: url(../images/company1.jpg); }

.com_h_txt { color: #fff; text-align: center; 
    padding: 250px 0 160px; }
.com_h_txt span { font-size: 13px; 
    line-height: 20px; font-family: '나눔 고딕'; }
.com_h_txt h2 { font-size: 50px; 
    line-height: 70px; font-family: '나눔 고딕'; }

/* step1_content */
.com_step1 { padding-top: 130px; }
.com_step1 li { display: inline-block;
    padding: 0 15px; 
    width: 48.5%; 
    overflow: hidden;
    position: center; }
.step1_content ul li:nth-child(1) img { 
    border-radius: 6px; 
    width: 100%; }
.step1_content ul li:nth-child(2) span { color: #ff5519;
    font-family: 'Montserrat';
    font-size: 16px; 
    font-weight: 500; }
.step1_content ul li:nth-child(2) p:nth-of-type(1) { color: #232323;
    font-size: 25px; 
    font-family: '나눔고딕';
    font-weight: 400;
    line-height: 30px;
    margin: 10px 0 25px; }
.step1_content ul li:nth-child(2) p:nth-of-type(2) { color: #6f6f6f;
    font-size: 13px;
    font-family: '나눔고딕';
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 25px; }

/* com_step1 button */
.com_step1 .bottom_btn { font-size: 11px;
    margin-bottom: 25px; }
.com_step1 .bottom_btn a { padding: 5px 30px;
    color: #fff; font-weight: bold;
    background: #232323; 
    border: 2px solid transparent;
    border-radius: 50px; 
    letter-spacing: 0.5px; 
    transition: all 1s; }
.com_step1 .bottom_btn a:hover { color: #232323;
    background: transparent; 
    border: 2px solid #232323; }

/* border */
.com_step1 .border { background: #e0e0e0;
    height: 0.5px; width: 100%;
    display: inline-block;
    margin: 8% 0 7% 0;}

/* step1_list */
.step1_list { overflow: hidden; }
.step1_list ul li { display: inline-block; 
    width: 33%; }
.step1_list i { color: #939393;
    font-size: 40px;
    float: left; 
    padding-right: 15px;}
.step1_list .list_txt { display: inline-block; 
    width: 80%; }
.step1_list span { color: #232323; 
    font-family: 'Montserrat'; 
    font-size: 14px;
    font-weight: 600; }
.step1_list p { margin: 5px 0 25px;
    font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px; }
