@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;500;600;700;800&display=swap');

/* his_info */
.his_info { 
    background-size: cover; 
    background-position: center;
    height: 600px; 
    position: relative; }

.his_info:before { 
    content: '';
    background: rgba(0,0,0, 0.2);
    position: absolute; 
    top: 0; bottom: 0; right: 0; left: 0; }

.his_h { background-image: url(../images/history.jpg); }

.his_h_txt { 
    color: #fff; 
    text-align: center; 
    position: absolute; 
    top: 50%; left:50%; 
    transform: translate(-50%, -50%); }
.his_h_txt span { 
    font-size: 13px; 
    line-height: 20px; 
    font-family: 'Montserrat'; }
.his_h_txt h2 { 
    font-size: 50px; 
    line-height: 70px; 
    font-family: '나눔 고딕'; }

/* down_btn */  
.down_btn { 
    color: #fff;
    background: #ff5519; 
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 15px;
    position: absolute;
    top: 87%;
    left: 48.5%;
}
.down_btn i { padding: 18px; }


/* his_step1 */
.his_step1 { padding: 130px 0; 
    font-family: 'Montserrat'; 
    text-align: center; }
.his_s1_h { margin-bottom: 5%; 
    padding: 0 15px;
    width: 60%; }
.his_s1_h p:first-child { margin-bottom: 10px; 
    font-family: 'Montserrat';
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 500; 
    color: #ff5519; }
.his_s1_h h2 { margin-bottom: 25px; 
    font-size: 32px; 
    line-height: 40px; font-weight: 600; 
    color: #232323; }
.his_s1_h p:last-child { font-size: 14px; 
    line-height: 24px; 
    font-weight: 400; 
    color: #6f6f6f; }
.his_step1 .his_s1_img { 
    vertical-align: middle;
    display: inline-block; }
.his_step1 .his_s1_img > img { width: 100%; }



/* his_step2 */
.his_step2 { position: relative; }
.his_step2 .his_s2_cover:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    background: rgba(0,0,0,0.3); }
.his_step2 .his_s2_img {
    background-image: url(../images/main_bg.png);
    height: 730px; width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed; }

.his_s2_position { padding: 130px 0; 
    position: relative; }
.his_s2_container { position: absolute; 
    top: 50%; }
.p_list { background: #fff; 
    padding: 50px; 
    margin: 0 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    text-align: center; 
    width: 32%; 
    display: inline-block; }

.p_list img { border-radius: 50%;
    height: 180px; width: 180px; 
    margin-bottom: 40px;}
.p_list .p_txt p:first-child { font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'Montserrat'; 
    color: #939393; }
.p_list .p_txt span { margin-bottom: 20px; 
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px; 
    color: #232323; 
    display: block; }
.p_list .p_txt p:last-child { font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    color: #6f6f6f;
    line-height: 24px; }


/* his_step3 */
.his_step3 { padding: 130px 0; 
    font-family: 'Montserrat'; 
    text-align: center; }
.his_s3_h { margin-bottom: 10%; 
    padding: 0 15px;
    width: 60%; }
.his_s3_h p { margin-bottom: 10px; 
    font-family: 'Montserrat';
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 500; 
    color: #ff5519; }
.his_s3_h h2 { margin-bottom: 25px; 
    font-size: 32px; 
    line-height: 40px; 
    font-weight: 600; 
    color: #232323; }

.his_s3_list ul li { display: inline-block;
    width: 33%; }
.his_s3_list ul li > i { color: #6f6f6f; 
    font-size: 35px; 
    float: left; }
.his_s3_list .his_s3_txt { text-align: left;
    padding-left: 75px; 
    width: 95%;
    margin-bottom: 50px; }
.his_s3_list .his_s3_txt span { margin-bottom: 10px; 
    font-weight: 600;
    color: #232323;
    font-family: 'Montserrat';
    display: block; }
.his_s3_list .his_s3_txt p { font-size: 14px;
    font-weight: 400;
    color: #6f6f6f;
    line-height: 24px;
    font-family: Roboto; }


/* his_step4 */


/* his_step5 */
.his_step5 { padding: 130px 0; 
    font-family: 'Montserrat'; 
    text-align: center; }
.his_s5_h { margin-bottom: 5%; 
    padding: 0 15px;
    width: 60%; }
.his_s5_h p:first-child { margin-bottom: 10px; 
    font-family: 'Montserrat';
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 500; 
    color: #ff5519; }
.his_s5_h h2 { margin-bottom: 25px; 
    font-size: 32px; 
    line-height: 40px; font-weight: 600; 
    color: #232323; }

.his_s5_list > div { padding: 0 15px;
    width: 30%; display: inline-block; }    
.his_s5_list .his_s5_g { 
    position: relative; 
    overflow: hidden; }
.his_s5_g img { width: 100%; }


.his_s5_g:hover .his_s5_overlay {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.his_s5_overlay { background: rgba(0,0,0,0.8);
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    opacity: 1;
    -webkit-transform: translate3d(0, 85%, 0);
    transform: translate3d(0, 85%, 0);
    padding: 20px 15px;
    transition: all 0.5s; }

.his_s5_g:hover .his_s5_overlay span { 
    position: absolute;
    top: 40%; left: 22%; }

.his_s5_overlay span { color: #fff;
    font-size: 16px;
    font-family: 'Montserrat';
    line-height: 23px;
    font-weight: 500;
    margin-bottom: 15px; 
    display: block; 
    text-align: center; }
.his_s5_overlay p { color: #b7b7b7; 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 24px; 
    text-align: center; 
    padding: 0 20px; 
    position: absolute;
    top: 50%; left: 0; }



/* his_step6*/
.his_step6 { background: #1c1c1c; 
    padding: 130px 0; }

.his_s6_li { display: inline-block;
    width: 24.5%; 
    padding: 0 40px;
    text-align: center; 
    border-right: 1px solid #363636; }
.his_s6_li:nth-child(4) { border: none; }
.his_s6_li h3 { color: #ff5519; 
    font-size: 48px; 
    line-height: 54px; 
    font-family: 'Montserrat';
    font-weight: 300; 
    letter-spacing: -2px; 
    margin-bottom: 10px; }
.his_s6_li p:nth-of-type(1) {
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #6f6f6f; }
.his_s6_li span { 
    font-size: 20px;
    line-height: 26px;
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    display: block; }
.his_s6_li p:nth-of-type(2) {
    font-size: 14px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Roboto'; }




/* his_step7 */
.his_step7 { padding: 130px 0; 
    text-align: center; }
.his_step7 .his_s7_img {
    vertical-align: middle;
    display: inline-block; }
.his_step7 .his_s7_img > img { width: 100%; }

/* his_step7 content */
.his_s7_content { margin-top: 1%; }
.his_s7_content .column { 
    display: inline-block; 
    width: 33%;
    vertical-align: top; 
    text-align: left; }

.his_s7_c1 h2 { 
    display: inline-block; 
    width: 90%;
    color: #232323; 
    font-size: 32px;
    line-height: 40px; 
    font-weight: 600; 
    font-family: 'Montserrat'; 
    padding-right: 15px; }
.his_s7_c2, .his_s7_c3 { padding: 0 15px; }
.his_s7_c2 h2, .his_s7_c3 h2 {
    float: left;
    padding: 0 15px;
    color: #d6d5d5;
    font-weight: 500;
    font-size: 55px;
    line-height: 60px;
    font-family: 'Montserrat';
    letter-spacing: -3px;
    margin-bottom: 25px; }
.his_s7_txt { float: left;
    padding: 0 15px;
    width: 70%; }
.his_s7_c2 span, .his_s7_c3 span { 
    font-weight: 600;
    color: #232323;
    font-family:  'Montserrat';
    font-size: 14px; }
.his_s7_c2 p, .his_s7_c3 p { 
    margin: 5px 0 25px; 
    font-weight: 400;
    line-height: 24px;
    color: #6f6f6f;
    font-family: 'Roboto';
    font-size: 14px; }


/* his_step8 */
.his_step8 { background: #f7f7f7;
    padding: 130px 0; 
    text-align: center; }
.his_s8_container { width: 60%; }
.his_step8 h2 { font-size: 40px; 
    font-weight: 600; 
    font-family: 'Montserrat'; 
    color: #232323; 
    line-height: 46px; 
    margin-bottom: 25px; }
.his_step8 p { margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400; 
    color: #6f6f6f; 
    line-height: 24px; }

.s8_email_box { margin: 40px; 
    width: 100%;
    position: relative; }
.s8_email_box input[type=text] {
    float: left;
    display: block;
    border-radius: 4px 0 0 4px;
    border-color: #fff;
    padding: 19px 25px;
    font-size: 14px;
    line-height: 24px;
    height: 62px;
    width: 80%; }
.s8_email_box button { 
    display: inline-block;
    cursor: pointer; 
    width: 10%;
    padding: 15px 20px;
    height: 62px;
    vertical-align: top;
    background: #fff;
    border-radius: 0 4px 4px 0;
    border-color: #222;
    position: relative;
    bottom: 0; right: 5%; }
.s8_email_box button i { color: #ff5519; 
    font-size: 20px; }

.his_step8 span { 
    font-size: 11px; 
    line-height: 14px; 
    font-family: 'Roboto';
    color: #6f6f6f;
    font-weight: 400; 
    padding-top: 30px; }