@charset "utf-8";
@import "reset.css";
@import "common.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;500;600;700;800&display=swap');


/* 슬라이드 본문*/
.slideOuter { height: 1080px; overflow: hidden; }
.slide { width: 1903px; height: 100%; position: relative; }
.slide .slideInner { background-size: cover; 
    background-repeat: no-repeat; height: 1080px;
    position: relative; background-position: center; }
.slide .slideInner:nth-child(1) { background-image: url(../images/main1.jpg); }
.slide .slideInner:nth-child(2) { background-image: url(../images/main2.jpg); }
.slide .slideInner:nth-child(3) { background-image: url(../images/main3.jpg); }

.slide .text { text-align: left; position: absolute;
    top: 40%; left: 19%; color: #232323;
    font-weight: 'Montserrat';
    padding: 0 15px; width: 1104px; height: auto; }
.slide .text h2 { font-size: 70px;
    font-weight: bold; width: 627px; 
    margin-bottom: 35px; }
.slide .text p { font-size: 18px; font-family: 'Roboto';
    margin-bottom: 45px;  }

/* 슬라이드 버튼 */
.slide .bottom_btn { font-size: 11px; }
.slide .bottom_btn a:nth-child(1){ padding: 10px 35px;
    color: #fff; font-weight: bold;
    background: #232323; border: 2px solid transparent;
    border-radius: 50px; letter-spacing: 0.5px; 
    margin-right: 10px;}
.slide .bottom_btn a:nth-child(1):hover { color: #232323;
    background: transparent; border: 2px solid #232323;
    transition: all 1.5s; }

.slide .bottom_btn a:nth-child(2){ padding: 10px 35px;
    color: #232323; font-weight: bold;
    background: transparent; border: 2px solid #232323;
    border-radius: 50px; letter-spacing: 0.5px;}
.slide .bottom_btn a:nth-child(2):hover { color: #fff;
    background: #232323; border: 2px solid transparent;
    transition: all 1.5s; }

/* 슬라이드 도트 */
.slideOuter .dotBox { position: absolute; bottom: 20px; width: 100%;
    text-align: center; }
.slideOuter .dotBox a { display: inline-block;
    background: rgba(0,0,0,0.5); margin: 0 5px;
    height: 9px; width: 9px; border-radius: 50%; }
.slideOuter .dotBox a:first-child { background: #000; }


/* 본문 시작 */
.step1 { padding: 130px 0; overflow: hidden; }
.container .n1 { width: 33%; padding: 0 15px; display: inline-block; }
.container .n2 { width: 33%; padding: 0 15px; display: inline-block; }
.container .n3 { width: 33%; padding: 0 15px;  display: inline-block; }
.container h3 { font-size: 48px; color: #ff5519;
    line-height: 54px; letter-spacing: -1px; font-family: 'Montserrat';
    margin-bottom: 20px; font-weight: 600; }
.container h3 > span { font-size: 18px; color: #232323;
    padding-left: 20px; line-height: 22px; font-weight: normal;
    vertical-align: middle; font-family: 'Roboto'; }
.container p { font-size: 14px; color: #6f6f6f;
    line-height: 24px; margin-right: 25px; font-family: 'Roboto'; }



.step2 { background: #f7f7f7; }
.container_fluid .sample_img { width: 50%; float: left; }
.sample_img > img { width: 100%; height: 641px; }
.sample_text { width: 50%; height: 641px; 
    float: left; padding: 95px; }
.sample_text h4 { color: #232323; font-weight: 600;
    font-size: 40px; line-height: 46px;
    margin-bottom: 50px; font-family: 'Monserrat'; }
.sample_text .sample_con { display: inline-block; }
.sample_text .sample_con .ex1,
.sample_text .sample_con .ex3 { margin-bottom: 8%; }
.sample_text .sample_con i { font-size: 35px;
    float: left; color: #939393; }
.sample_text .sample_con span { color: #232323; 
    font-family: 'Monserrat'; font-weight: 600; 
    margin-bottom: 5px; font-size: 14px; 
    line-height: 24px; }
.sample_text .sample_con p { color: #6f6f6f; font-weight: 400;
    line-height: 24px; font-size: 14px; }
.sample_con .ex_text { padding-left: 75px; }
.w50 { width: 48%; display: inline-block; vertical-align: top; }
.prl15 { padding: 0 15px;}



.step3 { padding: 130px 0; }
.step3 ul li { width: 22%; margin: 0 15px;
    display: inline-block; height: 199px; 
    position: relative; 
    border: 1px solid #ededed; }
.step3 ul li:hover { border: 6px solid #ff5519;
    transition: all 0.5s; }
.step3 ul li div { width: 100%; 
    font-size: 25px; font-weight: 600; 
    line-height: 30px; font-family: 'Montserrat';
    text-align: center; 
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%); }
.step3 ul li div i { color: #939393; font-size: 35px;
    margin-bottom: 15px; line-height: 1.1; }
.step3 ul li div  p { font-family: 'Roboto'; color: #6f6f6f;
    font-size: 14px; font-weight: 400; line-height: 24px; } 


.step4 { padding: 130px 0; font-family: 'Montserrat';
    background: #f7f7f7; text-align: center; }
.step4_h { margin-bottom: 5%; padding: 0 15px; width: 41%; }
.step4_h p { margin-bottom: 5px; font-size: 12px; 
    line-height: 20px; font-weight: 500; color: #939393; }
.step4_h h2 { margin-bottom: 25px; font-size: 32px; 
    line-height: 40px; font-weight: 600; color: #232323; }

.step4 ul li { display: inline-block; width: 31%;
    margin: 10px 10px; background: #fff;
    overflow: hidden; }

.step4 ul li .g_img { cursor: pointer; position: relative; 
    background: red;}
.step4 ul li .g_img:hover:after { position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    background: #ff5519;
    opacity: 0.3; transition: all 0.5s; }
.step4 ul li .g_img > img { width: 100%; height: auto; }
.step4 ul li .g_content { padding: 25px 10px; }
.step4 ul li a { color: #232323; font-weight: 600;
    font-family: 'Montserrat'; font-size: 12px;
    margin-bottom: 5px; }
.step4 ul li p { color: #939393; line-height: 14px;
    font-family: 'Montserrat'; font-size: 11px; }



.step5 { width: 100% }
.step5 li { width: 24.75%; display: inline-block;
    border-right: 1px solid #ededed; text-align: center;
    padding: 0 15px;  border-bottom: 1px solid #ededed;}
.step5 li:last-child { border-right: none; }
.step5 li div { padding: 12%; }
.step5 li i { color: #ff5519; font-size: 50px; 
    display: block; }
.step5 li span { font-size: 14px; color: #232323;
    font-weight: 600; font-family: 'Montserrat'; 
    display: block; margin: 25px 0 5px; line-height: 24px; }
.step5 li p { font-size: 14px; color: #6f6f6f;
    font-family: 'Roboto'; font-weight: 400;
    line-height: 24px; }