@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;500;600;700;800&display=swap');


/* main_section start*/

/* slide */
.slideOuter { height: 750px; overflow: hidden; }
/*slideInner { height:100% } 넣으면 안됨 */
.slide { height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; }
.slide1 {
    background-image: url(../images/main1.jpg); }
.slide2 {
    background-image: url(../images/main2.jpg); }
.slide3 {
    background-image: url(../images/main3.jpg); }

/* slide text */
.slide .text { text-align: left; 
    position: absolute;
    top: 30%; left: 19%; 
    color: #232323;
    font-weight: 'Montserrat';
    padding: 0 15px; 
    width: 1104px; height: auto; }
.slide .text h2 { font-size: 70px;
    font-weight: bold; 
    width: 627px; 
    margin-bottom: 35px; }
.slide .text p { font-size: 18px; 
    font-family: 'Roboto';
    margin-bottom: 45px;  }

/* slide button */
.slide .bottom_btn { font-size: 11px; }
.slide .bottom_btn a:nth-child(1){ padding: 10px 35px;
    color: #fff; 
    font-weight: bold;
    background: #232323; 
    border: 2px solid transparent;
    border-radius: 50px; 
    letter-spacing: 0.5px; 
    margin-right: 10px;
    transition: all 1s; }
.slide .bottom_btn a:nth-child(1):hover { 
    color: #232323;
    background: transparent; 
    border: 2px solid #232323; }

.slide .bottom_btn a:nth-child(2){ padding: 10px 35px;
    color: #232323; 
    font-weight: bold;
    background: transparent; 
    border: 2px solid #232323;
    border-radius: 50px; 
    letter-spacing: 0.5px;
    transition: all 1s; }
.slide .bottom_btn a:nth-child(2):hover { color: #fff;
    background: #232323; 
    border: 2px solid transparent; }

/* slide dots */
.slideOuter .slick-dots { position: absolute; 
    bottom: 20px; width: 100%;
    text-align: center; }
.slideOuter .slick-dots li { display: inline-block; }
.slideOuter .slick-dots li button {
    background: rgba(0,0,0,0.5);
    height: 9px; width: 9px;
    border-radius: 50%; 
    text-indent: -99999px; 
    overflow: hidden; 
    margin: 0 5px;}
.slideOuter .slick-dots li.slick-active button { background: #000; }

/* main_section end */




/* step1 start */
.step1 { padding: 130px 0; 
    overflow: hidden; }
.step1 .container .n_txt { width: 33%; 
    padding: 0 15px; 
    display: inline-block; }
.step1 .container h3 { font-size: 48px; 
    color: #ff5519;
    line-height: 54px; 
    letter-spacing: -1px; 
    font-family: 'Montserrat';
    margin-bottom: 20px; 
    font-weight: 600; }
.step1 .container h3 > span { font-size: 18px; 
    color: #232323;
    padding-left: 20px; 
    line-height: 22px; 
    font-weight: normal;
    vertical-align: middle; 
    font-family: 'Roboto'; }
.step1 .container p { font-size: 14px; 
    color: #6f6f6f;
    line-height: 24px; 
    margin-right: 25px; 
    font-family: 'Roboto'; }

/* step1 animation */
.step1 .container { overflow: hidden; }
.step1 .n_txt { opacity: 0; }
.step1.on .n_txt { 
    animation: fadeIn 1s both 0s;}
.step1.on .n_txt:nth-child(2) {
    animation-delay:0.5s; 
}
.step1.on .n_txt:nth-child(3) {
    animation-delay:1s; 
}
/* step1 end */


/* step2 start */
.step2 { background: #f7f7f7; }
.container_fluid .sample_img { width: 50%; 
    float: left; }
.sample_img > img { width: 100%; 
    height: 641px; }
.sample_text { width: 50%; 
    height: 641px; 
    float: left; 
    padding: 95px; }
.sample_text h4 { color: #232323; 
    font-weight: 600;
    font-size: 40px; 
    line-height: 46px;
    margin-bottom: 50px; 
    font-family: 'Monserrat'; }
.sample_text .sample_con { display: inline-block; }
.sample_text .sample_con .ex1,
.sample_text .sample_con .ex3 { margin-bottom: 8%; }
.sample_text .sample_con i { font-size: 35px;
    float: left; 
    color: #939393; }
.sample_text .sample_con span { color: #232323; 
    font-family: 'Monserrat'; 
    font-weight: 600; 
    margin-bottom: 5px; 
    font-size: 14px; 
    line-height: 24px; }
.sample_text .sample_con p { color: #6f6f6f; 
    font-weight: 400;
    line-height: 24px; 
    font-size: 14px; }
.sample_con .ex_text { padding-left: 75px; }
.w50 { width: 48%; 
    display: inline-block; 
    vertical-align: top; }
.prl15 { padding: 0 15px;}


/* step2 animation */
.step2 .container_fluid { overflow: hidden; }
.container_fluid .column { 
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
 }
.container_fluid.on .column:nth-child(1) {
    animation: fadeInLeft 1.5s both;
}
.container_fluid.on .column:nth-child(2) {
    animation: fadeInRight 1.5s both;
}
/* step2 end */


/* step3 start */
.step3 { padding: 130px 0; }
.step3 .countul .countli { width: 22%; 
    margin: 0 15px;
    display: inline-block; 
    height: 199px; 
    position: relative; 
    border: 1px solid #ededed; }
.step3 .countul .countli:hover { border: 6px solid #ff5519;
    transition: all 0.5s; }
.step3 .countul .countli div { width: 100%; 
    font-size: 25px; 
    font-weight: 600; 
    line-height: 30px; 
    font-family: 'Montserrat';
    text-align: center; 
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%,-50%); }
.step3 .countul .countli div i { color: #939393; 
    font-size: 35px;
    margin-bottom: 15px; 
    line-height: 1.1; }
.step3 .countul .countli div  p { font-family: 'Roboto'; 
    color: #6f6f6f;
    font-size: 14px; 
    font-weight: 400; 
    line-height: 24px; } 

/* step3 animation */
.step3 .countul { overflow: hidden; }
.step3 .countul .countli {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.step3.on .countul .countli {
    animation: fadeInRight 1s both 0s
}
.step3.on .countul .countli:nth-last-child(2) {
    animation-delay: 0.5s
}
.step3.on .countul .countli:nth-last-child(3) {
    animation-delay: 1s
}
.step3.on .countul .countli:nth-last-child(4) {
    animation-delay: 1.5s
}

/* step3 end */


/* step4 start*/
.step4 { padding: 130px 0; 
    font-family: 'Montserrat';
    background: #f7f7f7; 
    text-align: center; }
.step4_h { margin-bottom: 5%; 
    padding: 0 15px; 
    width: 27%; }
.step4_h p { margin-bottom: 5px;
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 500; 
    color: #939393; }
.step4_h h2 { margin-bottom: 25px; 
    font-size: 32px; 
    line-height: 40px; 
    font-weight: 600; 
    color: #232323; }

.step4 .gallul .gallli { display: inline-block; 
    width: 31%;
    margin: 10px 10px; 
    background: #fff;
    overflow: hidden; }

.step4 .gallul .gallli .g_img { cursor: pointer; 
    position: relative; }
.step4 .gallul .gallli .g_img:hover .overlay { opacity: 0.8; }
.step4 .gallul .gallli .g_img .overlay { position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    background: #ff5519;
    opacity: 0; 
    transition: all 0.5s; 
    text-align: center; }
.step4 .gallul .gallli .g_img .over_icon { position: absolute;
    top: 40%; right: 33%; }
.step4 .gallul .gallli .g_img .over_icon i { margin-right: 10px; }
.step4 .gallul .gallli .g_img .overlay i { font-size: 20px; 
    border-radius: 50%; 
    height: 46px; width: 46px; 
    opacity: 1;
    border: 2px solid transparent; 
    background: #fff;
    color: #232323; font-weight: 900;
    padding-top: 12px; }
.step4 .gallul .gallli .g_img .overlay a:hover i { 
    background: transparent;
    border: 2px solid #fff; 
    color: #fff; 
    transform: scale(1.1); 
    transition: all 0.5s; }

.step4 .gallul .gallli .g_img img { width: 100%; 
    height: auto; }
.step4 .gallul .gallli .g_content { padding: 25px 10px; }
.step4 .gallul .gallli a { color: #232323; 
    font-weight: 600;
    font-family: 'Montserrat'; 
    font-size: 12px;
    margin-bottom: 5px; }
.step4 .gallul .gallli p { color: #939393; 
    line-height: 14px;
    font-family: 'Montserrat'; 
    font-size: 11px; }

/* step4 animation */
.step4 .gallul { overflow: hidden; }
.gallul .gallli { opacity: 0; }
.step4.on .gallul .gallli {
    animation: fadeIn 1s both 0s; }
.step4.on .gallul .gallli:nth-child(2) {
    animation-delay: 0.3s; }
.step4.on .gallul .gallli:nth-child(3) {
    animation-delay: 0.6s; }
.step4.on .gallul .gallli:nth-child(4) {
    animation-delay: 0.9s; }
.step4.on .gallul .gallli:nth-child(5) {
    animation-delay: 1.2s; }
.step4.on .gallul .gallli:nth-child(6) {
    animation-delay: 1.5s; }
/* step4 end */


/* step5 start */
.step5 { width: 100%; 
    border-bottom: 1px solid #ededed; }
.step5 .s5li { width: 24%; 
    display: inline-block;
    border-right: 1px solid #ededed; 
    text-align: center;
    padding: 0 15px; }
.step5 .s5li:last-child { border-right: none; }
.step5 .s5li div { padding: 12%; }
.step5 .s5li i { color: #ff5519; 
    font-size: 50px; 
    display: block; }
.step5 .s5li span { font-size: 14px; 
    color: #232323;
    font-weight: 600; 
    font-family: 'Montserrat'; 
    display: block; 
    margin: 25px 0 5px; 
    line-height: 24px; }
.step5 .s5li p { font-size: 14px; 
    color: #6f6f6f;
    font-family: 'Roboto'; 
    font-weight: 400;
    line-height: 24px; }


/* step5 animation */
.step5 .s5ul { overflow: hidden; }
.s5ul .s5li {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
.step5.on .s5ul .s5li {
    animation: fadeInUp 1s both 0s; }
.step5.on .s5ul .s5li:nth-child(2) {
    animation-delay: 0.2s; }
.step5.on .s5ul .s5li:nth-child(3) {
    animation-delay: 0.4s; }
.step5.on .s5ul .s5li:nth-child(4) {
    animation-delay: 0.6s; }
/* step5 end */


/* step6 start */
.step6 { padding: 130px 0; 
    font-family: 'Montserrat'; 
    text-align: center; }
.step6_h { margin-bottom: 5%; 
    padding: 0 15px; 
    width: 27%; }
.step6_h p { margin-bottom: 5px; 
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 500; 
    color: #939393; }
.step6_h h2 { margin-bottom: 25px; 
    font-size: 32px; 
    line-height: 40px; font-weight: 600; 
    color: #232323; }
.step6_h p:last-child { font-size: 14px; 
    line-height: 24px; 
    font-weight: 400; 
    color: #6f6f6f; }
.step6 .theme_img { width: 50%; 
    vertical-align: middle;
    display: inline-block; }
.step6 .theme_img > img { width: 100%; }


/* step6 animation */
.step6 .s6_container { overflow: hidden; }
.step6 .s6_container .step6_h,
.step6 .s6_container .theme_img {
    opacity: 0; }
.step6.on .s6_container .step6_h,
.step6.on .s6_container .theme_img {
    animation: fadeIn 1s both; }
/* step6 end */


/* step7 start */
.step7 { background: #1c1c1c; 
    padding: 130px 0; }
.container_fluid .sample_vid { width: 50%; 
    float: left; padding: 0 15px;
    position: relative; }
/* .sample_vid i { color: #fff; 
    font-size: 60px; 
    width: 55%; 
    display: block; }
.sample_vid a { position: absolute; 
    top: 50%; left: 50%; 
    transform: translate(-50%,-50%); }
.sample_vid a:hover i { transform: scale(1.5); 
    transition: all 0.5s; }
.sample_vid > img { width: 100%; 
    height: 401px; } */

.step7 .sample_h { height: 401px; 
    width: 50%; 
    float: left; 
    position: relative; 
    padding: 0 15px; }
.sample_text2 { 
    padding-left: 12%;
    display: block; 
    position: absolute; 
    top: 17%; }
.sample_text2 h4 { color: #fff; 
    font-weight: 500;
    font-size: 30px; 
    line-height: 40px;
    margin-bottom: 25px; 
    font-family: 'Monserrat'; }
.sample_text2 p { color: #b7b7b7; 
    font-weight: 300;
    font-size: 20px; 
    line-height: 26px; 
    font-family: 'Roboto';
    margin-bottom: 25px; 
    width: 85%; }

.sample_h .bottom_btn a { padding: 10px 35px; 
    margin-top: 30px;
    color: #fff; 
    font-weight: 600; 
    font-size: 11px;
    background: transparent; 
    border: 2px solid #fff;
    border-radius: 50px; 
    letter-spacing: 0.5px;}
.sample_h .bottom_btn a:hover { color: #232323;
    background: #fff; 
    border: 2px solid transparent;
    transition: all 1.5s; }
/* step7 end */


/* step8 start */
.step8 { padding: 130px 0; 
    font-family: 'Montserrat';
    background: #f7f7f7; }
.step8 .s8_container { padding: 0 15px; 
    text-align: center; 
    position: relative; }
.step8_h { margin-bottom: 5%; 
    padding: 0 15px; 
    width: 27%; }
.step8_h p { margin-bottom: 5px;
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 500; 
    color: #939393; }
.step8_h h2 { margin-bottom: 25px; 
    font-size: 32px; 
    line-height: 40px; 
    font-weight: 600; 
    color: #232323; }
.step8_h .line { display: block; 
    content: ''; 
    height: 1px; width: 20%; 
    background: #ff5519;
    display: table; 
    margin: 0 auto; }

.step8 .c_rolling { margin-top: 100px; 
    margin-bottom: 95px; 
    position: relative; }
.step8 .c_rolling .clients { 
    border: 1px solid #ededed; 
    margin: 0 5px;
    display: inline-block;  
    width: 32%; 
    background: #fff; }
.step8 .c_rolling .clients .clients_re { 
    padding: 14%; 
    float: left; }
.step8 .c_rolling .clients .cp { 
    text-align: center;
     margin: 0 15% 25px 15%; }
.step8 .c_rolling .clients .cp a { 
    display: block; 
    text-align: center; }
.step8 .c_rolling .clients .cp img { 
    width: 100%; 
    border-radius: 50%; 
    overflow: hidden; }

.step8 .c_rolling .clients .clients_re p { 
    font-size: 
    14px; color: #6f6f6f;
    font-weight: 400; 
    line-height: 24px; 
    margin-bottom: 25px; }
.step8 .c_rolling .clients .clients_re span:nth-of-type(1) { 
    line-height: 10px; 
    font-family: 'Montserrat'; 
    font-size: 12px;
    font-weight: 600; 
    color: #232323; 
    display: inline-block; }
.step8 .c_rolling .clients .clients_re span:nth-of-type(2) { 
    line-height: 14px; 
    font-weight: 400; 
    color: #939393; 
    font-size: 11px;
    display: inline-block;
    font-family: 'Roboto'; }

/* step8 slide, dots */
.c_rolling .slick-dots { position: absolute; 
    bottom:-50px; width:100%; 
    text-align: center; }
.c_rolling .slick-dots li { display:inline-block; }
.c_rolling .slick-dots li button {
    width:9px; height:9px; 
    background:#999; 
    border:none;  
    text-indent:-9999px; 
    overflow:hidden; 
    border-radius:50%; 
    margin:0 5px; }
.c_rolling .slick-dots li.slick-active button {
    background:#000 }

/*step8 animation */
.step8 .s8_container { overflow: hidden; }
.step8 .s8_container .step8_h,
.step8 .s8_container .c_rolling {
    opacity: 0; }
.step8.on .s8_container .step8_h,
.step8.on .s8_container .c_rolling{
    animation: fadeIn 1s both; }
/* step8 end */



/* step9 start */
.step9 { padding: 130px 0; 
    font-family: 'Montserrat'; }
.step9 .s9_container { padding: 0 15px; 
    text-align: center; 
    position: relative; }
.step9_h { margin-bottom: 5%; 
    padding: 0 15px; 
    width: 27%; }
.step9_h p { margin-bottom: 5px; 
    font-size: 12px; 
    line-height: 20px; 
    font-weight: 500; 
    color: #939393; }
.step9_h h2 { margin-bottom: 25px; 
    font-size: 32px; 
    line-height: 40px; 
    font-weight: 600; 
    color: #232323; }
.step9_h .line { display: block; 
    content: ''; 
    height: 1px; width: 20%; 
    background: #ff5519;
    display: table;
    margin: 0 auto; }

.step9 .new_gli { width: 22%; 
    display: inline-block;
    margin: 0 15px; }
.step9 .new_gul .new_gli .news { 
    float: left; 
    overflow: hidden; 
    height: 144.36px; 
    margin-bottom: 25px; }
.step9 .new_gul .new_gli a img { 
    width: 100%; 
    margin-bottom: 25px; }
.step9 .new_gul .new_gli:hover img { 
    display: block; 
    transform: scale(1.2); 
    transition: all 0.5s; }

.step9 .new_gul .new_gli > p { 
    margin-bottom: 10px;
    color: #939393; 
    font-size: 11px; 
    line-height: 14px;
    font-family: 'Roboto';
    text-align: left; }
.step9 .new_gul .new_gli span { 
    font-family: 'Roboto'; 
    font-size: 14px; 
    color: #6f6f6f;
    font-weight: 400; 
    line-height: 24px; 
    float: left;
    text-align: left; }
.step9 ul li .line { content: ''; 
    width: 100%; height: 1px;
    background: #ededed; 
    margin: 20px 0; }


/* step9 animation */
.new_g .new_gul { overflow: hidden; }
.step9 .new_gul .new_gli { opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
.step9.on .new_gul .new_gli { 
    animation: fadeInUp 1s both; }
/* step9 end */




