@charset "utf-8";
@import "reset.css";
@import "common.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;500;600;700;800&display=swap');


/* 슬라이드 본문*/
.slideOuter { height: 1080px; overflow: hidden; }
.slide { width: 1903px; height: 100%; position: relative; }
.slide .slideInner { background-size: cover; 
    background-repeat: no-repeat; height: 1080px;
    position: relative; background-position: center; }
.slide .slideInner:nth-child(1) { background-image: url(../images/main1.jpg); }
.slide .slideInner:nth-child(2) { background-image: url(../images/main2.jpg); }
.slide .slideInner:nth-child(3) { background-image: url(../images/main3.jpg); }

.slide .text { text-align: left; position: absolute;
    top: 40%; left: 19%; color: #232323;
    font-weight: 'Montserrat';
    padding: 0 15px; width: 1104px; height: auto; }
.slide .text h2 { font-size: 70px;
    font-weight: bold; width: 627px; 
    margin-bottom: 35px; }
.slide .text p { font-size: 18px; font-family: 'Roboto';
    margin-bottom: 45px;  }

/* 슬라이드 버튼 */
.slide .bottom_btn { font-size: 11px; }
.slide .bottom_btn a:nth-child(1){ padding: 10px 35px;
    color: #fff; font-weight: bold;
    background: #232323; border: 2px solid transparent;
    border-radius: 50px; letter-spacing: 0.5px; 
    margin-right: 10px;}
.slide .bottom_btn a:nth-child(1):hover { color: #232323;
    background: transparent; border: 2px solid #232323;
    transition: all 1.5s; }

.slide .bottom_btn a:nth-child(2){ padding: 10px 35px;
    color: #232323; font-weight: bold;
    background: transparent; border: 2px solid #232323;
    border-radius: 50px; letter-spacing: 0.5px;}
.slide .bottom_btn a:nth-child(2):hover { color: #fff;
    background: #232323; border: 2px solid transparent;
    transition: all 1.5s; }

/* 슬라이드 도트 */
.slideOuter .dotBox { position: absolute; bottom: 20px; width: 100%;
    text-align: center; }
.slideOuter .dotBox a { display: inline-block;
    background: rgba(0,0,0,0.5); margin: 0 5px;
    height: 9px; width: 9px; border-radius: 50%; }
.slideOuter .dotBox a:first-child { background: #000; }


/* 본문 시작 */
.step1 { padding: 130px 0; overflow: hidden; }
.container .n1 { width: 33%; padding: 0 15px; display: inline-block; }
.container .n2 { width: 33%; padding: 0 15px; display: inline-block; }
.container .n3 { width: 33%; padding: 0 15px;  display: inline-block; }
.container h3 { font-size: 48px; color: #ff5519;
    line-height: 54px; letter-spacing: -1px; font-family: 'Montserrat';
    margin-bottom: 20px; font-weight: 600; }
.container h3 > span { font-size: 18px; color: #232323;
    padding-left: 20px; line-height: 22px; font-weight: normal;
    vertical-align: middle; font-family: '나눔고딕'; }
.container p { font-size: 14px; color: #6f6f6f;
    line-height: 24px; margin-right: 25px; font-family: '나눔고딕'; }