@charset "utf-8";
@import "reset.css";
@import "common.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;500;600;700;800&display=swap');

#join_page { padding: 0px 0px 100px; text-align: center; }
.login_h { background-image: url(../images/bg2.jpg); 
    background-repeat: no-repeat; background-size: cover; 
    background-position: center;
    padding: 120px 0; width: 100%; }
.login_h h2 { font-size: 50px; line-height: 70px; font-family: 'Montserrat'; }
.login_h p { font-size: 15px; line-height: 20px; font-family: 'Roboto'; }