@charset "utf-8";
@import "reset.css";
@import "common.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;500;600;700;800&display=swap');

#login_page { padding: 0px 0px 100px; text-align: center; }
.login_h { background-image: url(../images/bg1.jpg); 
    background-repeat: no-repeat; background-size: cover; 
    background-position: center;
    padding: 120px 0; width: 100%; }
.login_h h2 { font-size: 50px; line-height: 70px; font-family: 'Montserrat'; }
.login_h p { font-size: 15px; line-height: 20px; font-family: 'Roboto'; }

.login_box { padding-top: 40px; }
.login_box legend { display: none; }
.login_box .login_comment { text-align: left; padding-bottom: 100px; }
.login_box .login_comment h3 { font-size: 20px; font-weight: 500;
    line-height: 1.2; padding-bottom: 10px;
    font-family: 'Montserrat'; }
.login_box .login_comment p { font-size: 13px; font-weight: 400;
    line-height: 1.2; color: #666; font-family: 'Roboto'; }
.login_box .login_comment h3 > strong { font-weight: 700; }


.login_box .login_content { border: 1px solid #ccc; 
    border-top: 2px solid #000; margin: 0 280px;}
.login_box .login_content h3 { margin: 40px 0; 
    font-size: 30px; font-family: 'Montserrat'; font-weight: 700; }
.login_box .login_content p { font-size: 13px; line-height: 1.75;
    font-family: 'Roboto'; }
.login_box .login_content p > strong { font-weight: 700; }


.login_box .login_content .idpw_box { padding-top: 20px; }
.login_box .login_content .idpw_box label { display: none; }
.login_box .login_content .idpw_box input { width: 50%;
    height: 50px; line-height: 40px;
    border: none; background: #f4f4f4;
    vertical-align: top; 
    margin-bottom: 10px; padding: 0 1em; }
.login_box .login_content button { width: 50%;
    height: 50px; line-height: 40px; text-align: center;
    border: none; background: #000; color: #fff;
    vertical-align: top; }
.login_box .login_content .check { margin: 10px 0 40px; 
    font-family: 'Roboto'; font-size: 13px; }
.login_box .login_content input { vertical-align: middle; }
.login_box .login_content label { margin-right: 15px; vertical-align: middle; }


.login_box .find { border-top: 1px solid #ccc;
    background: #f7f7f7; padding: 30px;
    font-size: 13px; font-family: 'Roboto'; }
.login_box .find p { line-height: 1.75; }
.login_box .find a { border: 1px solid #ccc; margin-top: 20px;
    padding: 8px 10px; display: inline-block; }