@charset "utf-8";



@media screen and (max-width: 1199px) {
    .row { width: 970px;}
}

@media screen and (max-width:991px) {
    .row { width: 750px; }
    .nav { display: none; width: 100%; }
    .nav .depth1 { padding: 72px 0; }
    .nav .depth1 > li { display: block;
        color: #fff;
        background: rgba(0,0,0,0.8);
        border-bottom: 1px solid rgba(224, 224, 224, 0.5);
        position: relative; }
    .nav .depth1 > li:last-child { border: none;}
    .nav .depth1 > li > a { display: block;
        margin: 0px 5px; 
        padding: 9px 15px 8px;
        position: relative; }
    .nav .depth1 > li > i { display: block;
        position: absolute;
        top: 10px; right: 15px; 
        font-size: 15px; }

    .nav .depth2 { z-index: 999999; 
        position: static; 
        top: 100%; left: 0;
        width: 100%; 
        padding: 13px 0 15px; 
        background: rgba(35,35,35,1); 
        display: none; }
    .nav .depth2 > li > a { display: block; 
        text-align: left;
        font-size: 12px; 
        color:#9d9d9d; 
        padding: 9px 0px 7px 20px;
        overflow: hidden; 
        transition: all 0.5s; }

    .h1Nav .open_nav { display: block; 
        font-size: 25px;
        right: 10px;
        padding: 22px 15px; }
    .h1Nav .close_nav { display: none; 
        font-size: 26px;
        right: 10px;
        padding: 22px 15px; }
}

@media screen and (max-width:766px) {
    .row { width: 750px; }
    .topmenu { position: relative; 
        height: 20px;
        display: none; }
    .h1NavWrap { padding-top: 20px; }
    .nav { width: 200px; }
    .nav .depth1 > li > a { display: block;
        margin: 0px 5px; 
        padding: 20px 15px 19px;
        position: relative; }
    .nav .depth1 > li > i { display: block;
        position: absolute;
        top: 20px; right: 15px; 
        font-size: 15px; }


    .h1Nav .open_nav { display: block; 
        font-size: 25px;
        right: 10px;
        padding: 22px 15px; }
    .h1Nav .close_nav { display: none; 
        font-size: 26px;
        right: 10px;
        padding: 22px 15px; }

}

@media screen and (max-width:492px) {}