@charset "utf-8";



@media screen and (max-width: 1199px) {
    .row { max-width: 970px;}
}

@media screen and (max-width:991px) {
    .row { max-width: 750px; }
    .nav { display: none; width: 100%; }
    .nav .depth1 { padding: 72px 0; }
    .nav .depth1 > li { display: block;
        color: #fff;
        background: rgba(0,0,0,0.8);
        border-bottom: 1px solid rgba(224, 224, 224, 0.5);
        position: relative; }
    .nav .depth1 > li:last-child { border: none;}
    .nav .depth1 > li > a { display: block;
        margin: 0px 5px; 
        padding: 9px 15px 8px;
        position: relative; }
    .nav .depth1 > li > i { display: block;
        position: absolute;
        top: 10px; right: 15px; 
        font-size: 15px; }

    .nav .depth2 { z-index: 999999; 
        position: static; 
        top: 100%; left: 0;
        width: 100%; 
        padding: 13px 0 15px; 
        background: rgba(35,35,35,1); 
        display: none; }
    .nav .depth2 > li > a { display: block; 
        text-align: left;
        font-size: 12px; 
        color:#9d9d9d; 
        padding: 9px 0px 7px 20px;
        overflow: hidden; 
        transition: all 0.5s; }

    .h1Nav .open_nav { display: block; 
        font-size: 25px;
        right: 10px;
        padding: 22px 15px; }
    .h1Nav .close_nav { display: none; 
        font-size: 26px;
        right: 10px;
        padding: 22px 15px; }



    /* footer */
    #footer .inner { display: block; 
        padding: 5% 0; 
        height: 480px;
        font-family: 'Roboto'; 
        color: #6f6f6f; 
        line-height: 20px; 
        font-size: 12px;
        position: relative; }
    .inner .innerlist { width: 50%; 
        float: left; 
        height: 170px; 
        padding: 0 15px;
        border-right: none;
        margin-bottom: 30px; }
}

@media screen and (max-width:766px) {
    .topmenu .login { position:absolute; 
        top:10px; right:0; 
        color:#000;
        font-size: 11px; 
        font-family: 'Montserrat';
        font-weight: 500; 
        display: none; }

    .nav { width: 200px; 
        right: 0px; }
    .nav .depth1 > li > a { display: block;
        margin: 0px 5px; 
        padding: 20px 15px 19px;
        position: relative; }
    .nav .depth1 > li > i { display: block;
        position: absolute;
        top: 20px; right: 20px; 
        font-size: 15px; }
        
    .h1Nav .user_nav { display: block; }
    .h1Nav .user ul { padding: 73px 0;
        position: absolute; 
        top: 0; right: 0; 
        width: 200px; 
        display: none; }
    .h1Nav .user ul li {
        font-size: 12px;
        color: #fff;
        background: rgba(0,0,0,0.8);
        border-bottom: 1px solid rgba(224, 224, 224, 0.5);
        position: relative; }
    .h1Nav .user ul li:last-child { border-bottom: none; }
    .h1Nav .user ul li a { 
        display: block;
        font-weight: bold; 
        font-family: 'Montserrat';
        margin: 0px 5px; 
        padding: 20px 15px 19px;
        position: relative; }


    .h1Nav .open_nav { display: block; 
        font-size: 31px;
        right: 10px;
        padding: 20px 15px; }
    .h1Nav .close_nav { display: none; 
        font-size: 30px;
        right: 10px;
        padding: 20px 15px; }



    /* footer */
    #footer .inner { display: block; 
        padding: 5% 0; 
        height: 720px;
        font-family: 'Roboto'; 
        color: #6f6f6f; 
        line-height: 20px; 
        font-size: 12px;
        position: relative; }
    .inner .innerlist { width: 100%; 
        float: left; 
        height: 170px; 
        padding: 0 15px;
        border-right: none;
        margin-bottom: 30px; 
        text-align: center; }

    .copyright p { width: 100%;
        position: absolute;
        bottom: 40%; 
        float: left; 
        padding: 0 15px; }
    .copyright p:first-child { left: 0;
        text-align: center; }
    .copyright p:last-child { right: 0; 
        text-align: center;
        bottom: 55%; }
        

}

/* @media screen and (max-width:492px) {} */