@charset "utf-8";

@media screen and (max-width: 1199px) {
    
}


@media screen and (max-width:991px) {
    /* slide */
    .slide { height: 650px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative; }
    .slide .text { text-align: left; 
        position: absolute;
        top: 50%; left: 2%; 
        width: 70%;
        transform: translate(0%, -50%);
        color: #232323;
        font-weight: 'Montserrat';
        padding: 0 15px; 
        height: auto; }
    .slide .text h2 { font-size: 57px;
        font-weight: bold; 
        margin-bottom: 35px; }
    .slide .text p { font-size: 18px; 
        font-family: 'Roboto';
        margin-bottom: 45px;  }
}

@media screen and (max-width:766px) {
    /* slide */
    .slide { height: 520px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative; }

    .slide .text { text-align: left; 
        position: absolute;
        top: 50%; left: 0%; 
        width: 100%;
        transform: translate(0%, -50%);
        text-align: center;
        color: #232323;
        font-weight: 'Montserrat';
        padding: 0 15px; 
        height: auto; }
    .slide .text h2 { font-size: 32px;
        font-weight: bold; 
        margin-bottom: 35px; }
    .slide .text p { font-size: 18px; 
        font-family: 'Roboto';
        margin-bottom: 45px; }


    /* slide button */
    .slide .bottom_btn { font-size: 11px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%); 
        margin-top: 45px; }
    .slide .bottom_btn a:nth-child(1){ display: block;
        margin: 0 20px; }
    
    .slide .bottom_btn a:nth-child(2){ display: block; 
        margin-top: 10px; }







    /* popup */
    #popupBox { right: 0px; }
}