@charset "utf-8";
@import "reset.css";
@import "common.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400;500;600;700;800&display=swap');


/* slide start*/
.slideOuter { height: 1080px; overflow: hidden; }
.slide { width: 100%; height: 100%; position: relative; }
.slide .slideInner { background-size: cover; 
    background-repeat: no-repeat; height: 1080px;
    position: relative; background-position: center; }
.slide .slideInner:nth-child(1) { background-image: url(../images/main1.jpg); }
.slide .slideInner:nth-child(2) { background-image: url(../images/main2.jpg); }
.slide .slideInner:nth-child(3) { background-image: url(../images/main3.jpg); }

.slide .text { text-align: left; position: absolute;
    top: 40%; left: 19%; color: #232323;
    font-weight: 'Montserrat';
    padding: 0 15px; width: 1104px; height: auto; }
.slide .text h2 { font-size: 70px;
    font-weight: bold; width: 627px; 
    margin-bottom: 35px; }
.slide .text p { font-size: 18px; font-family: 'Roboto';
    margin-bottom: 45px;  }

/* slide button */
.slide .bottom_btn { font-size: 11px; }
.slide .bottom_btn a:nth-child(1){ padding: 10px 35px;
    color: #fff; font-weight: bold;
    background: #232323; border: 2px solid transparent;
    border-radius: 50px; letter-spacing: 0.5px; 
    margin-right: 10px;}
.slide .bottom_btn a:nth-child(1):hover { color: #232323;
    background: transparent; border: 2px solid #232323;
    transition: all 1.5s; }

.slide .bottom_btn a:nth-child(2){ padding: 10px 35px;
    color: #232323; font-weight: bold;
    background: transparent; border: 2px solid #232323;
    border-radius: 50px; letter-spacing: 0.5px;}
.slide .bottom_btn a:nth-child(2):hover { color: #fff;
    background: #232323; border: 2px solid transparent;
    transition: all 1.5s; }

/* slide dotbox */
.slideOuter .dotBox { position: absolute; bottom: 20px; width: 100%;
    text-align: center; }
.slideOuter .dotBox a { display: inline-block;
    background: rgba(0,0,0,0.5); margin: 0 5px;
    height: 9px; width: 9px; border-radius: 50%; }
.slideOuter .dotBox a:first-child { background: #000; }
/* slide end */




/* step1 start */
.step1 { padding: 130px 0; overflow: hidden; }
.step1 .container .n1 { width: 33%; padding: 0 15px; display: inline-block; }
.step1 .container .n2 { width: 33%; padding: 0 15px; display: inline-block; }
.step1 .container .n3 { width: 33%; padding: 0 15px;  display: inline-block; }
.step1 .container h3 { font-size: 48px; color: #ff5519;
    line-height: 54px; letter-spacing: -1px; font-family: 'Montserrat';
    margin-bottom: 20px; font-weight: 600; }
.step1 .container h3 > span { font-size: 18px; color: #232323;
    padding-left: 20px; line-height: 22px; font-weight: normal;
    vertical-align: middle; font-family: 'Roboto'; }
.step1 .container p { font-size: 14px; color: #6f6f6f;
    line-height: 24px; margin-right: 25px; font-family: 'Roboto'; }
/* step1 end */


/* step2 start */
.step2 { background: #f7f7f7; }
.container_fluid .sample_img { width: 50%; float: left; }
.sample_img > img { width: 100%; height: 641px; }
.sample_text { width: 50%; height: 641px; 
    float: left; padding: 95px; }
.sample_text h4 { color: #232323; font-weight: 600;
    font-size: 40px; line-height: 46px;
    margin-bottom: 50px; font-family: 'Monserrat'; }
.sample_text .sample_con { display: inline-block; }
.sample_text .sample_con .ex1,
.sample_text .sample_con .ex3 { margin-bottom: 8%; }
.sample_text .sample_con i { font-size: 35px;
    float: left; color: #939393; }
.sample_text .sample_con span { color: #232323; 
    font-family: 'Monserrat'; font-weight: 600; 
    margin-bottom: 5px; font-size: 14px; 
    line-height: 24px; }
.sample_text .sample_con p { color: #6f6f6f; font-weight: 400;
    line-height: 24px; font-size: 14px; }
.sample_con .ex_text { padding-left: 75px; }
.w50 { width: 48%; display: inline-block; vertical-align: top; }
.prl15 { padding: 0 15px;}
/* step2 end */


/* step3 start */
.step3 { padding: 130px 0; }
.step3 ul li { width: 20%; margin: 0 15px;
    display: inline-block; height: 199px; 
    position: relative; 
    border: 1px solid #ededed; }
.step3 ul li:hover { border: 6px solid #ff5519;
    transition: all 0.5s; }
.step3 ul li div { width: 100%; 
    font-size: 25px; font-weight: 600; 
    line-height: 30px; font-family: 'Montserrat';
    text-align: center; 
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%); }
.step3 ul li div i { color: #939393; font-size: 35px;
    margin-bottom: 15px; line-height: 1.1; }
.step3 ul li div  p { font-family: 'Roboto'; color: #6f6f6f;
    font-size: 14px; font-weight: 400; line-height: 24px; } 
/* step3 end */


/* step4 start*/
.step4 { padding: 130px 0; font-family: 'Montserrat';
    background: #f7f7f7; text-align: center; }
.step4_h { margin-bottom: 5%; padding: 0 15px; width: 27%; }
.step4_h p { margin-bottom: 5px; font-size: 12px; 
    line-height: 20px; font-weight: 500; color: #939393; }
.step4_h h2 { margin-bottom: 25px; font-size: 32px; 
    line-height: 40px; font-weight: 600; color: #232323; }

.step4 ul li { display: inline-block; width: 31%;
    margin: 10px 10px; background: #fff;
    overflow: hidden; }

.step4 ul li .g_img { cursor: pointer; position: relative; }
.step4 ul li .g_img:hover .overlay { opacity: 0.8; }
.step4 ul li .g_img .overlay { position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    background: #ff5519;
    opacity: 0; transition: all 0.5s; text-align: center; }
.step4 ul li .g_img .over_icon { position: absolute;
    top: 40%; right: 33%; }
.step4 ul li .g_img .over_icon i { margin-right: 10px; }
.step4 ul li .g_img .overlay i { font-size: 20px; border-radius: 50%; 
    height: 46px; width: 46px; opacity: 1;
    border: 2px solid transparent; background: #fff;
    color: #232323; font-weight: 900;
    padding-top: 12px; }
.step4 ul li .g_img .overlay a:hover i { background: transparent;
    border: 2px solid #fff; color: #fff; 
    transform: scale(1.1); transition: all 0.5s; }

.step4 ul li .g_img img { width: 100%; height: auto; }
.step4 ul li .g_content { padding: 25px 10px; }
.step4 ul li a { color: #232323; font-weight: 600;
    font-family: 'Montserrat'; font-size: 12px;
    margin-bottom: 5px; }
.step4 ul li p { color: #939393; line-height: 14px;
    font-family: 'Montserrat'; font-size: 11px; }
/* step4 end */


/* step5 start */
.step5 { width: 100%; border-bottom: 1px solid #ededed; }
.step5 li { width: 24.75%; display: inline-block;
    border-right: 1px solid #ededed; text-align: center;
    padding: 0 15px; }
.step5 li:last-child { border-right: none; }
.step5 li div { padding: 12%; }
.step5 li i { color: #ff5519; font-size: 50px; 
    display: block; }
.step5 li span { font-size: 14px; color: #232323;
    font-weight: 600; font-family: 'Montserrat'; 
    display: block; margin: 25px 0 5px; line-height: 24px; }
.step5 li p { font-size: 14px; color: #6f6f6f;
    font-family: 'Roboto'; font-weight: 400;
    line-height: 24px; }
/* step5 end */


/* step6 start */
.step6 { padding: 130px 0; font-family: 'Montserrat'; 
    text-align: center; }
.step6_h { margin-bottom: 5%; padding: 0 15px; width: 27%; }
.step6_h p { margin-bottom: 5px; font-size: 12px; 
    line-height: 20px; font-weight: 500; color: #939393; }
.step6_h h2 { margin-bottom: 25px; font-size: 32px; 
    line-height: 40px; font-weight: 600; color: #232323; }
.step6_h p:last-child { font-size: 14px; 
    line-height: 24px; font-weight: 400; color: #6f6f6f; }
.step6 .theme_img { width: 50%; vertical-align: middle;
    display: inline-block; }
.step6 .theme_img > img { width: 100%; }
/* step6 end */


/* step7 start */
.step7 { background: #1c1c1c; padding: 130px 0; }
.container_fluid .sample_vid { width: 50%; float: left; padding: 0 15px;
    position: relative; }
.sample_vid i { color: #fff; font-size: 60px; width: 55%; 
    display: block; }
.sample_vid a { position: absolute; 
    top: 50%; left: 50%; transform: translate(-50%,-50%); }
.sample_vid a:hover i { transform: scale(1.5); transition: all 0.5s; }
.sample_vid > img { width: 100%; height: 401px; }

.step7 .sample_h { height: 401px; width: 50%; float: left; 
    position: relative; padding: 0 15px; }
.sample_text2 { padding-left: 12%;
    display: block; position: absolute; top: 17%; }
.sample_text2 h4 { color: #fff; font-weight: 500;
    font-size: 30px; line-height: 40px;
    margin-bottom: 25px; font-family: 'Monserrat'; }
.sample_text2 p { color: #b7b7b7; font-weight: 300;
    font-size: 20px; line-height: 26px; font-family: 'Roboto';
    margin-bottom: 25px; width: 85%; }

.sample_h .bottom_btn a { padding: 10px 35px; margin-top: 30px;
    color: #fff; font-weight: 600; font-size: 11px;
    background: transparent; border: 2px solid #fff;
    border-radius: 50px; letter-spacing: 0.5px;}
.sample_h .bottom_btn a:hover { color: #232323;
    background: #fff; border: 2px solid transparent;
    transition: all 1.5s; }
/* step7 end */


/* step8 start */
.step8 { padding: 130px 0; font-family: 'Montserrat';
    background: #f7f7f7; }
.step8 .container { padding: 0 15px; text-align: center; position: relative; }
.step8_h { margin-bottom: 5%; padding: 0 15px; width: 27%; }
.step8_h p { margin-bottom: 5px; font-size: 12px; 
    line-height: 20px; font-weight: 500; color: #939393; }
.step8_h h2 { margin-bottom: 25px; font-size: 32px; 
    line-height: 40px; font-weight: 600; color: #232323; }
.step8_h .line { display: block; content: ''; 
    height: 1px; width: 20%; background: #ff5519;
    display: table; margin: 0 auto; }

.step8 ul { margin-top: 100px; margin-bottom: 95px; }
.step8 ul li { border: 1px solid #ededed; display: inline-block;  
    width: 33%; background: #fff; }
.step8 ul li .clients_re { padding: 14%; float: left; }
.step8 ul li .cp { text-align: center; margin: 0 15% 25px 15%; }
.step8 ul li .cp a { display: block; text-align: center; }
.step8 ul li .cp img { width: 100%; border-radius: 50%; overflow: hidden; }

.step8 ul li .clients_re p { font-size: 14px; color: #6f6f6f;
    font-weight: 400; line-height: 24px; margin-bottom: 25px; }
.step8 ul li .clients_re span:nth-of-type(1) { line-height: 10px; 
    font-family: 'Montserrat'; font-size: 12px;
    font-weight: 600; color: #232323; 
    display: inline-block; }
.step8 ul li .clients_re span:nth-of-type(2) { line-height: 14px; 
    font-weight: 400; color: #939393; font-size: 11px;
    display: inline-block; font-family: 'Roboto'; }

/*step8 dotbox */
.step8 .dotBox { position: absolute; bottom: -35px; width: 98%;
    text-align: center; }
.step8 .dotBox a { display: inline-block;
    background: rgba(0,0,0,0.5); margin: 0 2px;
    height: 9px; width: 9px; border-radius: 50%; }
.step8 .dotBox a:first-child { background: #000; }
/* step8 end */



/* step9 start */
.step9 { padding: 130px 0; font-family: 'Montserrat'; }
.step9 .container { padding: 0 15px; text-align: center; position: relative; }
.step9_h { margin-bottom: 5%; padding: 0 15px; width: 27%; }
.step9_h p { margin-bottom: 5px; font-size: 12px; 
    line-height: 20px; font-weight: 500; color: #939393; }
.step9_h h2 { margin-bottom: 25px; font-size: 32px; 
    line-height: 40px; font-weight: 600; color: #232323; }
.step9_h .line { display: block; content: ''; 
    height: 1px; width: 20%; background: #ff5519;
    display: table; margin: 0 auto; }

.step9 li { width: 22%; display: inline-block;
    margin: 0 15px; }
.step9 ul li .news { float: left; overflow: hidden; height: 144.36px; 
    margin-bottom: 25px; }
.step9 ul li a img { width: 100%; margin-bottom: 25px; }
.step9 ul li:hover img { display: block; transform: scale(1.2); 
    transition: all 0.5s; }

.step9 ul li > p { margin-bottom: 10px;
    color: #939393; font-size: 11px; line-height: 14px;
    font-family: 'Roboto'; text-align: left; }
.step9 ul li span { font-family: 'Roboto'; 
    font-size: 14px; color: #6f6f6f;
    font-weight: 400; line-height: 24px; float: left;
    text-align: left; }
.step9 ul li .line { content: ''; width: 100%; height: 1px;
    background: #ededed; margin: 20px 0; }
/* step9 end */